.header-main-text h1 {
  font-size: 45;
  font-weight: bold;
  line-height: 1.5;
}
.main-header {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -10deg,
    rgb(234, 94, 42),
    rgba(255, 94, 45, 0.534)
  );
  padding-top: 100px;
  padding-bottom: 100px;
  /* position: relative;
  top: 0; */
}
.header-main-text p {
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.7;
}
.main-header h5,
h1,
p {
  color: #f5f5f5;
}
.header-img {
  width: 480px;
}
