.sign-btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  background-color: #1888ff;
}
.sign-btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  /* color: #000; */
  border-radius: 4px;
  border: 2px solid #1888ff;
}

.dropdown-menu-item {
  width: 50%;
  position: absolute;
  top: 75px;
  right: 100px;
  list-style: none;
  text-align: start;
  background-color: rgba(28, 27, 27, 0.63);
  margin: 5px;
  border-radius: 10px;
}

.dropdown-menu-item li:hover {
  /* background: rgba(128, 128, 128, 0.884);
  border-radius: 10px;
  transition: all 0.2s ease-out; */
}
.dropdown-menu-item.clicked {
  display: none;
}
.dropdown-link {
  display: block;
  width: 100%;
  text-decoration: none !important;
  color: #fff;
  padding: 5px;
}
.dropdown-link:hover {
  color: #fff;
}

.navbar-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.navbar-container.scroll-nav {
  background: rgba(255, 255, 255, 0.825);
}

.scroll-color {
  color: rgba(0, 0, 0, 0.836) !important;
}
.scroll-color-icon {
  color: rgba(0, 0, 0, 0.836) !important;
}

.company-logo {
  width: 280px;
  cursor: pointer;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  /* grid-gap: 10px; */
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin: 0;
  margin-right: 0.5rem;
}

.nav-items {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-decoration: none !important;
  padding: 0.5rem 0.5rem;
}

.nav-links:hover {
  color: white;
  transition: all 0.2s ease-out;
}

.bars-icon {
  color: #fff;
}
.menu-icon {
  display: none;
}

.nav-bottom-border a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #fff;
  margin-top: 3px;
}
.nav-bottom-border a:active::after,
.nav-bottom-border a:hover::after {
  width: 100%;
  transition: all 0.5s;
}

.nav-bottom-border a:hover {
  transition: all 0.25s;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222ec;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .scroll-color {
    color: rgba(255, 255, 255, 0.788)!important;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .times-icon {
    color: #fff;
    font-size: 2rem;
  }

  button {
    display: none;
  }
}
