.brand-color {
  color: rgb(234, 94, 42)!important;
}
.brand-color-bg {
  color: white !important;
  background-color: rgb(234, 94, 42) !important;
}
.brand-color-heading {
  color: #54595f !important;
}

.global-item:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: transform 0.8s ease;
}
.brand-btn {
  color: rgb(234, 94, 42)!important;
}
.brand-btn:hover {
  color: white !important;
  background-color: rgb(234, 94, 42) !important;
}
